<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if logged_in? %>
        <div class="menu-container ">
          <button class="menu-button"><%=image_tag(current_user.avatar) if current_user.avatar.attached? %>
          <span class="title"><%=current_user.name%></span></button>
          <div class="menu-dropdown">
            <div class="content">
              <ul>
                <li><%=button_to"Delete",user_path(current_user),method: :delete, data:{confirm: "Are you sure?"},class: "btn btn-danger" %></li>
                <li><%=link_to'Profile',profile_path%></li>
                <li><%= link_to "Log out", logout_path, class: "mx-2", method: :delete,class:"nav-link"%></li>
              </ul>
            </div>
          </div>
        </div>
        <li class="nav-item">
           <li class="nav-item"><%=link_to"Change Password",change_password_path,class: "nav-link" %>
            </li>
            <li>
        <% else %>
        <li class="nav-item">
          <%= link_to "Log in", login_path, class: "nav-link" %>    
        </li>
        <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Action
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"><%= link_to"Add New Article",new_article_path, class: "nav-link"%></a></li>
            <li><a class="dropdown-item" href="#"><%= link_to"All  Article",articles_path, class: "nav-link"%></a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#"><%= link_to"All Users",users_path, class: "nav-link"%></a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<script>
  var menuButton = document.querySelector(".menu-button");
     menuButton.addEventListener("click", function(event) {
    event.preventDefault();
    var parent = document.querySelector(".menu-container");
    if (parent.classList.contains("open")) {
      parent.classList.remove("open");
    } else {
      parent.classList.add("open");
    }
  });
</script>
<style>
  .menu-container.open > .menu-button {
  color: #000;
  width: 186px;
  }
</style>