<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <%=image_tag(@article.avatar) if  @article.avatar.attached? %>
            <h5><%=@article.title%></h5>
            <p><%=@article.body%></p>
          <% if current_user.id == @article.user_id %>
            <%=link_to"Edit Article",edit_article_path(@article),class:"btn btn-warning Btn"%>
            <%=link_to"Delete",article_path(@article), data: {
            method: :delete,
            confirm: "Are you sure?"
            },class:"btn btn-danger Btn"%>
           <%= link_to 'Back', articles_path,class: "btn btn-info new_btn_articles" %>

          <% else %>
         <%= link_to 'Back', articles_path,class: "btn btn-info new_btn_articles" %>

          <% end %>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<style type="text/css">
    .new_btn_articles{
    margin-left: 320px;
    margin-top: 10px;
    width: 130px;
}
</style>

