<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <%=image_tag(@article.avatar) if  @article.avatar.attached? %>
            <h5><%=@article.title%></h5>
            <p><%=@article.body%></p>
            <%=link_to"Edit Article",edit_article_path(@article),class:"btn btn-warning Btn"%>
            <%=link_to"Delete",article_path(@article), data: {
            method: :delete,
            confirm: "Are you sure?"
            },class:"btn btn-danger Btn"%>
            <%=link_to"Back",root_path(@article),class:"btn btn-secondary Btn"%>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>


