<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <%= form_for @user, url:  {action: :update_password} do |form| %>
      <%= form.password_field :password_digest, hide_label: true, placeholder: "Enter your Old Password", class: "input-lg required" %>
      <%= form.password_field :password, hide_label: true, placeholder: "Enter a New Password", class: "input-lg required" %>
      <%= form.password_field :password_confirmation, hide_label: true, placeholder: "Confirm New Password", class: "input-lg required"%>
      <%= form.submit "Change Password", :class=> "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
